# Format options based on the Linux kernel style.
AlignAfterOpenBracket: Align
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BasedOnStyle: LLVM
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Attach
ColumnLimit: 80
ContinuationIndentWidth: 8
DerivePointerAlignment: false
IndentWidth: 8
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
TabWidth: 8
UseTab: Always
