Checks: >
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  linuxkernel-*,
  modernize-*,
  performance-*,
  readability-*,
WarningsAsErrors: '*'
HeaderFilterRegex: '^(.*\/)?(src|include)\/.*'
FormatStyle: none
CheckOptions:
  - key: readability-function-size.StatementThreshold
    value: '200'
  - key: readability-function-size.LineThreshold
    value: '200'
  - key: readability-function-size.NestingThreshold
    value: '4'
