/build*/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/compile_commands.json
/CTestTestfile.cmake
/Testing/
/install/

/.idea/
/cmake-build-*/
/.vscode/

*.o
*.obj
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll
*.exe
*.out

*.dSYM/
*.profraw
*.profdata
gmon.out
vgcore.*
core
core.*

*.log
*.tmp
*~
.DS_Store